{% extends 'base.html' %} 
{% block content %}

{% load static %}

<div class="accordion-1">
    <div class="col-lg-12">
        <h2 class="h2-heading">기부신청페이지</h2>
        <form action="{%url 'donation:donate_create'%}" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <p>제목 : <input type="text" name="title"> </p>
            <p>기부할 머리길이 : <input type="number" name="hair_length"></p>
            <p>사진 : <input type="file" name="image"> </p>
            <p>내용 : <textarea type="text" name="body" id="" cols="30" rows="10"></textarea> </p>
            <button type="submit">신청</button>
        </form>
    </div>
</div>
{% endblock %}