{% extends 'base.html' %} 
{% block content %}

{% load static %}
<style>

</style>


<div class="accordion-1">
    <div class="col-lg-12">
        <h2 class="h2-heading">기부 TOP3</h2>
        <hr>
    <section style="margin: 20px; margin-left: 35px; margin-top: 30px;">
        
        박스입니다.

    </section>
    </div>
    <hr>
    <div class="col-lg-12">
        <h2 class="h2-heading">사연 TOP3</h2>
        <hr>
    <section style="margin: 20px; margin-left: 35px; margin-top: 30px;">
        
        박스입니다.
        ddd
    </section>
    </div>
    <hr>
{% endblock %}