{% extends 'base.html' %} 
{% block content %}

{% load static %}
<style>


    .win_box{
    margin: 5px auto; 
    padding: 20px; 
    border: 3px solid rgb(255, 229, 191); 
    width: 80%; 
    border-radius: 10px;
    border-width: 3px 2px 3px 35px;
    margin: 0%;
    margin-left: 10%;
    margin-bottom: 1%;
}    
.stroy{
    float: left;
    margin: 30px 20px;
    text-align: center;
}

.topHair{
            float: left;
            border: 2px solid #000;
            width: 100px;
            height: 100px;
            text-align: center;
            line-height: 100px;
            font-weight: bold;
}

 

</style>





<div class="accordion-1">
    <div class="container">
    <div class="best-d ">
        <hr>
        <h3 class="h2-heading" >12월 기부 TOP3</h3><br>
        <h6 style="text-align: center; ">12월 기부우수 상품으로는<br>
            고급 헤어드라이기, 모발영양제, 고급 샴푸&린스 세트가 증정됩니다.</h6> 
            
        
        <hr>
        <section style="text-align: center; justify-items: center;">
        
            {%for object in max%}
            <div class="win_box">
                <h4><i class="fas fa-medal"></i>  <a href="{% url 'mypage:mypage' object.writer.id %}">{{object.writer}}</a></h4>
                기부 머리 길이 : {{object.hair_length}}cm<br>
            </div>
            {%endfor%}
            
        </section>
    </div>
    

    <div class="best-write " >
        <hr>
        <h3 class="h2-heading" >Best 사연</h3><br>
        <h6 style="text-align: center; ">12월 사연우수 상품으로는<br> 
            고급 샴푸&린스가 증정됩니다!</h6>
        <hr>
        <section style="text-align: center; justify-items: center;">

            {%for object in objects%}
                <!-- <div style="margin:0 auto; padding: 1px;"> -->
                    {%if object.beststory == 1%}
                    <div class="win_box">
                    <h4><i class="fas fa-medal"></i> <a href="{% url 'mypage:mypage' object.writer.id %}">{{object.writer}}</a></h4>
                        {{object.body}}<br>
                        <a href="{%url 'donation:donate_detail' object.id %}">...게시글로 가기</a>
                    </div>
                    {%endif%}
            

                {%if object.beststory == 2%}
                <div class="win_box">
                        <h4><i class="fas fa-medal"></i> <a href="{% url 'mypage:mypage' object.writer.id %}">{{object.writer}}</a></h4>
                        {{object.body}}<br>
                        <a href="{%url 'donation:donate_detail' object.id %}">...게시글로 가기</a>
                    </div>
                    {%endif%}
                
                    {%if object.beststory == 3%}
                    <div class="win_box">
                    <h4><i class="fas fa-medal"></i><a href="{% url 'mypage:mypage' object.writer.id %}">{{object.writer}}</a></h4>
                        {{object.body}}<br>
                        <a href="{%url 'donation:donate_detail' object.id %}">...게시글로 가기</a>
                    </div>
                    {%endif%}
                
            {%endfor%}
            <br>
        </section>
    </div>
    </div>
{% endblock %}