{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
  section{
    margin: 30px;
    text-align: center;
  }

  .status{
    height: 20px;
    width: 80%;
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
}
.statusBar{
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcfff4+0,dfe5d7+40,b3bead+100;Wax+3D+%233 */
    /* colorzila에서 그라데이션 주기  */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fceabb+0,fccd4d+50,f8b500+51,fbdf93+100;Orange+3D+%235 */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6e6b4+0,ed9017+100;Yellow+3D+%231 */
      background: #f6e6b4; /* Old browsers */
      background: -moz-linear-gradient(top,  #f6e6b4 0%, #ed9017 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #f6e6b4 0%,#ed9017 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
    border-radius: 20px;
}
label {
  margin-left: 25%;
  width: 50%;
  text-align: center;
  padding: 15px 0px;
  background-color: whitesmoke;
    border-radius: 20px;
    display: block;
    border: 0px;
}
label:hover, label:focus{
  background-color: rgb(255, 179, 129);
    color: whitesmoke;
    font-size: 20px;
}
</style>

<section>
<div class="accordion-1">
  <form action="{% url 'quiz:nextQuiz' select_id id %}" method="post">
    {%csrf_token%}
    <div class="status mx-auto">
      <div class="statusBar">

      </div>
    </div>

    <div id="section" style="margin-top: 10px; padding: 10px; font-size: 20px; ">     

    </div> 
  </form>
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

</section>

<script>
  var section = document.getElementById('section');
  const param = window.location.href;
  var id = param.slice(-2, -1) === '0' ? 12 : param.slice(-2, -1);

  async function fetchQuiz(){
    let response = await fetch(`/quiz/${id}/?format=json`);
    if (response.status === 200) {
      let data = await response.json();
      var title = document.createElement('h2');
      title.innerHTML = data[0]['title'];
      section.appendChild(title);

      var list = data[0]['body'].split('/');
      for (var i=0; i < list.length; i++){
        var body = document.createElement('input');
        body.setAttribute("type", "submit");
        body.setAttribute("name", "quiz");
        body.setAttribute("style", "display: none;");
        body.setAttribute("id", i);
        body.setAttribute("value", i);
        section.appendChild(body);
        var label = document.createElement('label');
        label.setAttribute("for", i);
        var br = document.createElement('br');
        label.innerHTML = "&nbsp" + list[i];
        section.appendChild(label);
        section.appendChild(br);
      }
      var status = document.querySelector('.statusBar');
      if(id<10){
        status.style.width = (100/10)*(id)+'%';
      }
      else{
        status.style.width = 100+'%';
      }
        

    }
  }
  fetchQuiz();
</script>

{% endblock %}