{% extends 'base.html' %} 
{% load static %} 
{% load i18n %} 
{% block content %}

<!-- 배경테마 -->
<header class="ex-header">
  <div class="container">
      <div class="row">
          <div class="col-xl-10 offset-xl-1">
              <h1 class="text-center">Log In</h1>
          </div> <!-- end of col -->
      </div> <!-- end of row -->
  </div> <!-- end of container -->
</header> <!-- end of ex-header -->

<div class="hero-wrap js-fullheight">
  <div class="overlay"></div>
  <div id="particles-js"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true" style="background-image: url(../../static/images/배경사진.jpg);">
      <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
        <!-- 로그인 툴 -->
        <section style="background-size:100%; margin:200px">
          <div style="width:300px; margin:0 auto; ">
          <div data-wow-delay="0.5s">
            <div style="margin-right: 137px;">
              <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %} 
                <!-- 밑에 걸로 폼수정  -->
                <p><label for="id_username"></label><input type="text" name="login" placeholder="  아이디" autocomplete="username" minlength="1" maxlength="150" required="" id="id_login" style="border-radius: 10px; height:30px; width:200px;"></p>
                <p><label for="id_password"></label><input type="password" name="password" placeholder="  비밀번호" autocomplete="current-password" minlength="1" maxlength="150" required="" id="id_password" style="border-radius: 10px; height:30px; width:200px;"></p>
                <p id="login_submit"><input id="ping" type="submit" value="Login" style="height: 20px; background: rgba(255, 206, 160, 0.774);  border-radius: 10px; color: whitesmoke; height: 30px; width: 80px; border: white;"></p>
              </form>
            </div>
            <br>
            <div style="margin-right: 110px;">
              <p>회원이 아니신가요? <a href="{% url 'account_signup' %}">회원가입</a></p>
            </div>
          </div>
        </div> 
        </section>
      </div>
    </div>
  </div>
</div>

{% endblock %}
